%form{:method => "post", :action => "login"}
  %lable{:for => "name"} Name:
  %br
  %input{:type => "text", :name => "name"}
  %br
  %br
  %lable{:for => "pass"} Password:
  %br
  %input{:type => "text", :name => "pass"}
  %br
  %input{:type => "submit", :value => "Ok"}